
html, body {
  scrollbar-width: none;
  overflow-y: scroll;
  -ms-overflow-style: none; 
}

body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.mybutton {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

